## Tests for Helper Class

In [1]:
from datascience import * 
import pandas as pd 
import numpy as np
from DataCleaning import *

In [2]:
series = pd.Series([1, np.nan, 3])
table_column = Table.from_columns_dict({'col_1':[np.nan, 0 ,1]})
frame = pd.DataFrame({"first":[1, np.nan, 3], "second":[1, 2, 3]})
table = Table.from_columns_dict({"first":[1, np.nan, 3], "second":[1, 2, 3]})

C:\Anaconda3\lib\site-packages\datascience\tables.py:107: FutureWarning: Table.from_columns_dict is deprecated. Use Table().with_columns(...)
  warnings.warn("Table.from_columns_dict is deprecated. Use Table().with_columns(...)", FutureWarning)

In [3]:
series

0    1.0
1    NaN
2    3.0
dtype: float64

In [4]:
table_column

col_1
nan
0
1

In [5]:
frame

   first  second
0    1.0       1
1    NaN       2
2    3.0       3

In [6]:
table

first | second
1     | 1
nan   | 2
3     | 3

### Tests for Missing Proportion

In [7]:
missing_proportion(series)

0.333

In [8]:
missing_proportion(table_column)

0.333

In [9]:
missing_proportion([1,2,3])

AssertionError: Input not a supported type.

In [10]:
missing_proportion(table)

AssertionError: Too many columns. Input a table with only one column.

### Tests for Drop Missing

In [11]:
drop_missing(frame)

   first  second
0    1.0       1
2    3.0       3

In [12]:
drop_missing(table)

first | second
1     | 1
3     | 3

In [13]:
drop_missing([[1,2,3], [2,3,np.nan]])

AssertionError: Input not a supported type.

In [14]:
drop_missing(frame, columns = True)

   second
0       1
1       2
2       3

In [15]:
drop_missing(table, columns = True)

second
1
2
3

In [16]:
drop_missing(table, columns = 'True')

AssertionError: Input is invalid. Enter either True or False.